.slider{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;

}

@media screen and (min-width: 600px) {
    .slide img {
      width: 100%;
      height: 100%;
    }
  }

  .slide img {
    height: 100%;
  }

  .current {
    opacity: 1;
    transform: translateX(0);
  }

  .content {
    position: absolute;
    top: 23rem;
    left: 19rem;
    opacity: 0;
    width: 50%;
    color: #fff;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.3);
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 23rem;
    }
    100% {
      visibility: visible;
      top: 17rem;
    }
  }

  @media screen and (max-width: 600px) {
    .content {
      width: 80%;
    }
  }

  .content > * {
    color: #fff;
    margin-bottom: 1rem;
  }

  .current .content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
  }

  .arrow {
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
  }

  .arrow:hover {
    background-color: #fff;
    color: #777;
  }

  .next {
    top: 35%;
    right: 1.5rem;
  }
  .prev {
    top: 35%;
    left: 1.5rem;
  }

  .DIH{
    color: white;
  }

/* .btnlnk{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #777;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #777;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #777;
  border-radius: 12px;
}


  .btnlnk:hover {
    background-color: red;
  } */

  .butonlnk{
    font: bold 15px Arial;
    text-decoration: none;
    background-color: darkgray;
    color: black;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-radius: 12px;
    font-weight: 800;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
  }

  .butonlnk:hover {
    background-color: #6699cc;
  }